@use "../../presets" as *;
@use "../../mixins" as *;

.form {
  padding: 30px 0;
  background-color: $color-primary;
  &__container {
    display: grid;
    gap: $gap;
    max-width: 1340px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    @include md-min {
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &-item {
    &__input {
      display: block;
      width: 100%;
      margin: 0;
      line-height: 1.15;
      height: 60px;
      color: $color-light;
      padding-right: 30px;
      padding-left: 30px;
      transition: background-color 0.5s, border-color 0.5s;
      letter-spacing: 0.1em;
      border-bottom: 2px solid $color-light;
      border-bottom-color: rgba($color-light, 0.25);
      background-color: rgba($color-light, 0.05);
      font-size: 1.125rem;
      border: none;
      outline: none;

      &:hover {
        border: 2px solid rgba($color-light, 0);
        background-color: rgba($color-gray, 1);
      }
    }
    input:placeholder {
      color: rgba($color-light, 0.05);
    }
  }
}
